body {
    background: dodgerblue;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
}

span {
    font-size: 30px;
}

hr {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 5px solid white;
    border-bottom: 5px solid lightblue;
    padding: 0;
}

select {
    color: dodgerblue;
    font-weight: bold;
    margin: 15px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    font-size: 30px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    transition: .2s all;
}

select:hover {
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.5);
}

select:focus {
    outline: 0;
}

button {
    color: dodgerblue;
    font-weight: bold;
    margin: 15px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    font-size: 30px;
    text-align: center;
    transition: all .2s;
}

button:hover {
    color: white;
    background: darkslateblue;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.5);
}

.sonuc {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: dodgerblue;
    background: white;
    width: 60%;
    height: auto;
    font-size: 25px;
    border-radius: 10px;
    padding: 30px;
}

.sonuc b {
    color: lime;
}

.loading {
    display: none;
    min-height: 40px;
    min-width: 40px;
    border: 12px solid gray;
    border-radius: 50%;
    border-top: 12px solid lightskyblue;
    animation: spin 1s linear infinite;
}

.pencere {
    display: none;
    color: dodgerblue;
    font-weight: bolder;
    font-size: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 65vw;
    background: white;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);
}

.pencere .kapat {
    color: black;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
}

.pencere .kapat:hover {
    color: gray;
}

.pencere img {
    height: 50px;
    width: 50px;
    border: 3px solid dodgerblue;
    border-radius: 50%;
}

.perde {
    display: none;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 200%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 998;
}

#katkiAc {
    height: 70px;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.sonuc hr {
    border: 1.5px solid skyblue;
    width: 500px;
}

.sonuc .ekBilgi {
    display: none;
}

details > summary {
    user-select: none;
    list-style-type: "⏺️";
}

details[open] > summary {
    list-style-type: "🔽";
    margin-bottom: 1rem;
}

details[open] {
    border: 2px solid dodgerblue;
    border-radius: 10px;
    padding: 10px;
}

button#paylas {
    display: none;
}

.kutu {
    color: white;
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.kutu:has(i.fa-copy), .kutu:has(i.fa-file-download) {
    background: gray;
}

.kutu:has(i.fa-copy):hover, .kutu:has(i.fa-file-download):hover {
    background: darkslategray;
}

.kutu:has(i.fa-whatsapp) {
    background: #128C7E;
}

.kutu:has(i.fa-whatsapp):hover {
    background: lime;
}

.kutu:has(i.fa-twitter) {
    background: #00ACEE;
}

.kutu:has(i.fa-twitter):hover {
    background: lightskyblue;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container h1 {
    font-size: 5vw;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
